@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.shrine {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $alabaster;
    padding-bottom: 1rem;

    &__header {
        @include font-pageheader;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    &__title {
        @include font-labelsbuttons;
    }

    &__city {
        @include font-labelsbuttons;
    }

    &__image {
        height: 11.875rem;
        width: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        margin: 1rem 0 0 0;
        @include tablet {
            border-radius: .5rem;
            height: 40rem;
            width: 97vw;
            margin: 1.5rem 1rem;
            @include desktop {
                height: 50rem;
            }
        }
    }
}