@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $light-bamboo;
}

.review-form-title {
  @include font-medium;
}

label {
  @include font-labelsbuttons;
  margin-right: 1rem;
}

.review-form__field {
 margin-right: 2rem;
  border: none;
}

.review-form__buttons {
    display: flex;
    justify-content: center;
}

button {
    @include font-labelsbuttons;
    background-color: $light-bamboo;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    
}