@use "variables" as *;
@use "typography" as *;

//media queries
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//typography mixins
@mixin font-bodycopy {
  font-family: $font-local;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

@mixin font-pageheader {
  font-family: $font-local;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  @include tablet {
    font-weight: 700;
    font-size: 2.063rem;
    line-height: 2.75rem;
  }
}

@mixin font-labelsbuttons {
  font-family: $font-local;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  @include tablet {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

@mixin font-italic {
  font-family: $font-local;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  @include tablet {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

@mixin font-medium {
  font-family: $font-local;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  @include tablet {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@mixin logo {
  height: 3.125rem;
  width: 3.125rem;
  background: $alabaster;
}

@mixin form-field {
      height: 2rem;
      border-radius: 0.25rem;
      
      @include tablet {
          height: 2rem;
          width: 15rem;
         
      }
  
  &::placeholder {
    color: $primary-text-color;
  }

  &:focus {
    outline: 2px solid $accent-color;
  } 

  
}
